
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2em auto;
    height: auto;
}
.apresentacao__titulo {
    text-align: center;
    margin-bottom: 3em;
}

.apresentacao__botoes_login {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}

.apresentacao__paragrafo {
    margin: 1.5em 0;
}

.apresentacao__botao_login {
    padding: 0.8em 6em;
    border-radius: 1.5em;
    text-decoration: none;
    background-color: #FF6064;
    color: white;
}

.apresentacao__cadastro {
    text-decoration: none;
    color: #FF6064;
}