
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2em auto;
    height: auto;
}

.apresentacao__imagem{
    margin-top: 1em;
    margin-bottom: 3em;
    align-self: center;
    
}

img {
    width: 60%;
}

.apresentacao__conteudo {
    align-self: center;
    text-align: center;
    font-size: 20px;
}

.apresentacao__paragrafo {
    margin-bottom: 1em;
}

.apresentacao__botoes button {
    border-radius: 1em;
    border: none;
    margin-left: 10px;
}

.apresentacao__botao_colorido{
    background-color: #FF6064;
    padding: 1em 2em;
    
}

.botao_cinza {
    padding: 1em;
    background-color: gainsboro;
}

.apresentacao__botao_avancar {
    margin-top: 2em;
    padding: 1em 2em;
    border-radius: 1.5em;
    text-align: center;
    background-color: #FF6064;
    color: white;
    border: none;
    width: 40%;
    align-self: center;
    text-decoration: none;
}

.apresentacao__botao_avancar:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

@media (min-width: 375px) {
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2.25em auto;
    height: auto;
}

.apresentacao__imagem{
    margin-top: 1em;
    margin-bottom: 3em;
    align-self: center;
    
}

img {
    width: 100%;
}

.apresentacao__conteudo {
    align-self: center;
    text-align: center;
    font-size: 32px;
}

.apresentacao__paragrafo {
    margin-bottom: 1em;
}

.apresentacao__botoes button {
    border-radius: 1em;
    border: none;
    margin-left: 10px;
}

.apresentacao__botao_colorido{
    background-color: #FF6064;
    padding: 0.75em 2em;
    
}

.botao_cinza {
    padding: 1em;
    background-color: gainsboro;
}

.apresentacao__botao_avancar {
    margin-top: 2em;
    padding: 0.75em 5em;
    border-radius: 1.5em;
    text-align: center;
    background-color: #FF6064;
    color: white;
    border: none;
    width: 40%;
    align-self: center;
    text-decoration: none;
}

}



@media screen and (min-width: 1920px) and (min-height: 1080px) {
    
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 4em auto;
    height: auto;
}

.apresentacao__imagem{
    margin-top: 1em;
    margin-bottom: 3em;
    align-self: center;
    
}

img {
    width: 70%;
}

.apresentacao__conteudo {
    align-self: center;
    font-size: 32px;
    text-align: center;
}

.apresentacao__paragrafo {
    margin-bottom: 1em;
}

.apresentacao__botoes button {
    border-radius: 2em;
    border: none;
    margin-left: 10px;
}

.apresentacao__botao_colorido{
    background-color: #FF6064;
    padding: 1.75em 3em;
    
}

.botao_cinza {
    padding: 2em;
    background-color: gainsboro;
}

.apresentacao__botao_avancar {
    margin-top: 2em;
    padding: 1.25em 6em;
    border-radius: 3em;
    text-align: center;
    background-color: #FF6064;
    color: white;
    border: none;
    width: 40%;
    align-self: center;
    text-decoration: none;
    font-size: 20px;
}

.apresentacao__botao_avancar:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}
    }
 